<?xml version="1.0"?>
<config
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
            id="NTTData_Empleados::empleados"
            title="Empleados"
            translate="title"
            module="NTTData_Empleados"
            sortOrder="11"
            dependsOnModule="NTTData_Empleados"
            resource="NTTData_Empleados::empleados" />

        <add
            id="NTTData_Empleados::empleados_administrar"
            title="Administrar Empleados"
            translate="title"
            module="NTTData_Empleados"
            parent="NTTData_Empleados::empleados"
            sortOrder="10"
            dependsOnModule="NTTData_Empleados"
            action="empleados/index"
            resource="NTTData_Empleados::empleados_administrar" />
    </menu>
</config>