<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
  <default>
    <catalog>
      <practice>
        <params>
          <enabled>1</enabled>
          <limit>10</limit>
          <order_field>Color</order_field>
          <order_direction>DESC</order_direction>
        </params>
      </practice>
    </catalog>
  </default>
</config>