.productlist-container {
  color: blue;
  border: 3px solid blue;
  border-style: dashed;
  padding: 10px;
  margin: 10px;
}

.encabezado-container {
  color: red;
  border: 3px solid red;
  border-style: dashed;
  padding: 10px;
  margin: 10px;
}

.products-container {
  color: green;
  border: 3px solid green;
  border-style: dashed;
  padding: 10px;
  margin: 10px;
}

.hour-container {
  color: darkslateblue;
  border: 3px solid darkslateblue;
  border-style: dashed;
  padding: 10px;
  margin: 10px;
}
